* {
	background-color: antiquewhite;
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

table td {
	border: 0.5px solid grey;
	width: 80px;
	height: 80px;
}

.unvisited {
	filter: opacity(30%);
	background-color: black;
}

.visited {
	background-color: rgb(179, 202, 145);
}

.stench {
	background-color: rgb(86, 86, 247);
}

.breeze {
	background-color: aquamarine;
}